* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style-type: none;
}

.container {
  max-width: 1512px;
  padding: 0 78px;
  margin: 0 auto;
}

body {
  background: #787878;
  width: 100%;
}

header nav .header-wrapper {
  margin-top: 63px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .header-wrapper #dark-mode {
  width: 100px;
  height: 38px;
  background: #D9D9D9;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  padding: 0 2px;
  position: relative;
}
header nav .header-wrapper #dark-mode div {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #111111;
  border-radius: 50%;
  top: 4px;
  left: 5px;
}
header nav .header-wrapper #dark-mode p {
  position: absolute;
  bottom: -30px;
  font-family: sans-serif;
  font-weight: 800;
  color: white;
  font-size: 18px;
  width: 107px;
  left: 0;
}
header nav .header-wrapper #header-search {
  width: 803px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.2509803922);
  padding: 16px 33px;
  gap: 10px;
}
header nav .header-wrapper #header-search input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
}
header nav .header-wrapper #header-search i {
  color: rgba(255, 255, 255, 0.6);
  font-size: 24px;
}
header nav .header-wrapper #location {
  background: #4CBB17;
  display: flex;
  align-items: center;
  width: 292px;
  height: 62px;
  border-radius: 30px;
  border: none;
  padding: 0 25px;
  gap: 15px;
  color: white;
  font-size: 22px;
  cursor: pointer;
  font-weight: 800;
}
header nav .header-wrapper #location i {
  color: black;
  font: 25px;
}

main {
  margin-top: 70px;
}

section #section1 {
  display: flex;
  justify-content: space-between;
}
section #section1 .country-time {
  background: #444444;
  width: 510px;
  height: 330px;
  box-shadow: 5px 5px 2px 3px rgba(0, 0, 0, 0.571);
  border-radius: 30px;
  color: white;
}
section #section1 .country-time div {
  padding: 50px 107px;
  text-align: center;
}
section #section1 .country-time div p:nth-child(1) {
  font-weight: 700;
  font-family: sans-serif;
  font-size: 36px;
  margin-bottom: 29px;
}
section #section1 .country-time div h4 {
  font-size: 96px;
  font-weight: 700;
  font-family: sans-serif;
}
section #section1 .country-time div p:nth-child(3) {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
}
section #section1 .country-weather {
  align-items: flex-start;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 780px;
  background: #444444;
  height: 330px;
  border-radius: 30px;
  box-shadow: 5px 5px 2px 3px rgba(0, 0, 0, 0.571);
  padding: 15px 25px;
}
section #section1 .country-weather .weather-1 {
  width: 204px;
}
section #section1 .country-weather .weather-1 h2 {
  font-weight: 700;
  font-family: sans-serif;
  font-size: 80px;
}
section #section1 .country-weather .weather-1 p:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  font-size: 20px;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 26px;
}
section #section1 .country-weather .weather-1 p:nth-child(2) span {
  font-size: 32px;
  color: rgba(255, 255, 255, 0.8);
}
section #section1 .country-weather .weather-1 div:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
section #section1 .country-weather .weather-1 div:nth-child(3) div p {
  font-size: 20px;
  font-weight: 600;
  font-family: sans-serif;
  line-height: 20px;
  margin-bottom: 10px;
}
section #section1 .country-weather .weather-1 div:nth-child(4) {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
section #section1 .country-weather .weather-1 div:nth-child(4) div p {
  font-size: 20px;
  font-weight: 600;
  font-family: sans-serif;
  line-height: 20px;
  margin-bottom: 10px;
}
section #section1 .country-weather .weather-2 {
  text-align: center;
  width: 270px;
  position: relative;
}
section #section1 .country-weather .weather-2 img {
  width: 270px;
  height: 270px;
  position: absolute;
  top: -25px;
  left: 0;
  object-fit: cover;
}
section #section1 .country-weather .weather-2 p {
  position: absolute;
  top: 240px;
  left: 85px;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 32px;
  text-align: center;
}
section #section1 .country-weather .weather-3 {
  display: flex;
  margin-top: 15px;
  flex-wrap: wrap;
  width: 247px;
  justify-content: space-between;
  gap: 20px;
}
section #section1 .country-weather .weather-3 div {
  width: 113px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section #section1 .country-weather .weather-3 div img {
  margin-bottom: 10px;
}
section #section1 .country-weather .weather-3 div p:nth-child(2) {
  font-weight: 600;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 10px;
}
section #section1 .country-weather .weather-3 div p:nth-child(3) {
  font-size: 16px;
  font-weight: 500;
  font-family: sans-serif;
}
section #section2 {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
section #section2 #forecast {
  text-align: center;
  padding: 18px 30px;
  color: white;
  background: rgba(0, 0, 0, 0.5019607843);
  width: 414px;
  height: 366px;
  border-radius: 30px;
  box-shadow: 5px 5px 2px 3px rgba(0, 0, 0, 0.571);
}
section #section2 #forecast p:nth-child(1) {
  font-weight: 700;
  font-size: 32px;
  font-family: sans-serif;
  color: white;
}
section #section2 #forecast ul {
  display: flex;
  flex-direction: column;
}
section #section2 #forecast ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section #section2 #forecast ul li p:nth-child(2) {
  width: 62px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
}
section #section2 #forecast ul li p:nth-child(3) {
  text-align: end;
  width: 162px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
}
section #section2 #day-wrapper {
  box-shadow: 5px 5px 2px 3px rgba(0, 0, 0, 0.571);
  border-radius: 30px;
  width: 870px;
  height: 366px;
  text-align: center;
  padding: 13px 80px;
  background: rgba(0, 0, 0, 0.5019607843);
  color: white;
}
section #section2 #day-wrapper p:nth-child(1) {
  font-weight: 700;
  font-family: sans-serif;
  font-size: 32px;
}
section #section2 #day-wrapper #days {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
section #section2 #day-wrapper #days div {
  text-align: center;
  width: 130px;
  height: 270px;
  border-radius: 40px;
  background: #373636;
  padding: 13px 30px;
}
section #section2 #day-wrapper #days div p:nth-child(1) {
  font-weight: 700;
  font-size: 24px;
  font-family: sans-serif;
  margin-bottom: 13px;
}
section #section2 #day-wrapper #days div p:nth-child(3) {
  font-weight: 700;
  font-size: 20px;
  font-family: sans-serif;
  margin-bottom: 13px;
}
section #section2 #day-wrapper #days div p:nth-child(5) {
  font-weight: 700;
  font-size: 20px;
  font-family: sans-serif;
  margin-top: 13px;
}

.loader {
  width: 108px;
  height: 108px;
  border: 5px dotted #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
  display: none;
  position: absolute;
  left: 700px;
  top: 200px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */